.brightness {
    background-color: white;
    display: inline-block;

}
.brightness img:hover {
    opacity: .5;
}  
.ShopProductsTableImage{  
    height: 10rem;
    max-width: 100%;
}

/*.image-upload>input {
    display: none;
  }*/